<!-- =========================
     HEADER / NAVBAR
========================= -->

<header class="site-header position-absolute top-0 start-0 w-100 z-3">

    <nav class="navbar navbar-expand-lg navbar-dark">

        <div class="container-md">

            <!-- Logo / Brand -->
            <a class="navbar-brand d-flex align-items-center gap-2 p-0 m-0" href="/">

                <img src="./images/hp-official-emblem.png" alt="Home Pakistan" class="header-logo-icon">

            </a>

            <!-- Mobile Hamburger -->
            <button class="navbar-toggler custom-toggler shadow-none" type="button" id="navbarToggle"
                aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>


            <!-- Navbar -->
            <div class="collapse navbar-collapse" id="mainNavbar">

                <!-- Center Navigation -->
                <ul class="navbar-nav mx-auto align-items-lg-center">

                    <li class="nav-item">
                        <a class="nav-link" data-page="index.html" href="./index.html">
                            Home
                        </a>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link" data-page="podcast.html" href="./podcast.html">
                            Podcast
                        </a>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link" data-page="azim-adil-sheikh.html" href="./azim-adil-sheikh.html">
                            Azim Adil Sheikh
                        </a>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link" data-page="application.html" href="./application.html">
                            Apply
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" data-page="industries.html" href="./industries.html">
                            Industries
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" data-page="about.html" href="./about.html">
                            About
                        </a>
                    </li>

                </ul>


                <!-- Right CTA -->
                <a href="#" class="btn nav-watch-btn d-none d-lg-inline-flex">
                    WATCH PODCAST
                </a>

            </div>

        </div>

    </nav>

</header>